<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Cdn Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Cdn BootStrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Link css -->
    <link rel="stylesheet" href="css/restaurante.css">

    <!-- Link Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Restaurante online</title>
</head>
<body>
  <!-- Link moment -->
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand icon" href="#"><h3><i class="fas fa-utensils"></i></h3></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            </div>
          </div>
        </div>
      </nav>
      <div>
        <% if(validacao.length > 0) {%>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <strong>Atenção!</strong>
                        <ul>
                            <% for(var i = 0; i < validacao.length; i++) { %>
                                <li><%=validacao[i].msg%></li>
                            <% } %>
                        </ul>   
                    </div>
                </div>
            </div>
        <% } %>
        <% if(pedido.length > 0) {%>
          <div class="row">
              <div class="col-md-12">
                  <div class="alert alert-danger">
                      <strong>Atenção!</strong>
                      <ul>
                          <% for(var i = 0; i < pedido.length; i++) { %>
                              <li><%=pedido[i].msg%></li>
                          <% } %>
                      </ul>   
                  </div>
              </div>
          </div>
      <% } %>
    </div>
    
    <div class="div-container">
      <!-- aqui tem card dinamico-->
      <div class="div-card" id="divCard">
        
      </div>
     <!-- contem todo form com o resultado na mesma div-->
     <script src="https://momentjs.com/downloads/moment.min.js"></script>   
     <div class="div-monte">
        <h3>monte seu pedido</h3>
        <div class="div-form">
          <form action="/pedidos" method="POST">
            <input type="text"  name="principal" placeholder="Principal: Arroz, feijão e macarrão">
            <input type="text"  name="acompanhamento" placeholder="Acompanhamento: Carnes, legumes ou frutas">
            <input type="text"  name="fritas" placeholder="fritas: batata, madioca entre outros ">
            <button type="submit">Pedir</button>
          </form>
        </div>
        <div class="line"></div>
        <div class="div-card-monte" id="divCardMonte">
        </div>
      </div>  
    </div>
</body>


<script>

  for(var i=0; i < 1; i++){
    const cont = document.createElement("div");
    const cont1 = document.createElement("div");

    cont.innerHTML = `
    <% if(dadoCard.length > 0) {%>
      <h3>Ultimos pedidos</h3>
      <% for(var i=0; i < dadoCard.length; i++) {%>
        <div class="card" id="card" style="width: 30rem;">
            <i class="fas fa-hamburger fa-3x"></i>
            <div class="card-body">
              <p class="card-title" name="principal"><%=dadoCard[i].principal%></p>
              <p class="card-text" name="acompanhamento"><%=dadoCard[i].acompanhamneto%></p>
              <p class="card-text" name="fritas" ><%=dadoCard[i].fritas%></p>
            </div>  
          </div>
      <%}%> 
    <%}%>   
    `


    cont1.innerHTML = ` 
       <%if(dadoCardMonte.length > 0) {%> 
        <% for(var i=0; i < dadoCardMonte.length; i++) {%>
          <div class="card-monte" id="card" style="width: 30rem;">
                <i class="fas fa-hamburger fa-3x"></i>
                <div class="card-body">
                  <p class="card-title"><%=dadoCardMonte[i].principal%></p>
                  <p class="card-text"><%=dadoCardMonte[i].acompanhamento%></p>
                  <p class="card-text"><%=dadoCardMonte[i].fritas%></p>
                </div>  
            </div>
          <br>
        <%}%> 
      <%}%>  
        `
    document.getElementById("divCard").appendChild(cont)
    document.getElementById("divCardMonte").appendChild(cont1)
  }

</script>
</html>